
# system files
*.pyo
*.pyd
*.pyc
*.log
*.pot
__pycache__
.DS_Store
.cache
.vscode/
.idea/
*.sublime-workspace
*.log
*.pot

# app files
env/
main/settings.py
main/allauth_settings.py
main/urls.py
db.sqlite3
.sqlite3
media/
raw_static/
static/
migrations/
**/migrations/**
Thumbs.db
locale/
templates/admin_temps/
templates/change_pass_temps/
templates/sign_temps/
store/admin_views.py
store/decorator.py
store/recaptcha.py
store/urls.py
APP_LINKS.txt
readme_items/