
{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}



    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">{% trans "Contact Us" %}</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>

                    {% comment %}- form -{% endcomment %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" placeholder="{% trans "Your Name" %}"
                                required="required" data-validation-required-message="{% trans "Please enter your name" %}" 
                                name="username"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" placeholder="{% trans "Your Email" %}"
                                required="required" data-validation-required-message="{% trans "Please enter your email" %}" 
                                name="email"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="subject" placeholder="{% trans "Subject" %}"
                                required="required" data-validation-required-message="{% trans "Please enter a subject" %}" 
                                name="subject"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" rows="8" id="message" placeholder="{% trans "Message" %}"
                                required="required" name="body"
                                data-validation-required-message="{% trans "Please enter your message" %}"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <input class="btn btn-primary py-2 px-4" type="submit" value="{% trans "Send Message" %}">
                        </div>
                    </form>
                    {% comment %}- END form -{% endcomment %}


                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <div class="bg-light p-30 mb-30">
                    <iframe style="width: 100%; height: 250px;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120938.87666883796!2d28.904189266305845!3d41.00823759902674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa3bb29016c73%3A0x9f24da4e5b535d1b!2sIstanbul%2C%20Turkey!5e0!3m2!1sen!2sus!4v1603794290143!5m2!1sen!2sus"
                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                    </iframe>
                <div class="bg-light p-30 mb-3">
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>{% trans "123 Street, Turkey, Istanbul" %}</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>backup@example.com</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+00 000 000 0000</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>



{% endblock content %}
